.hero-image {
  background-blend-mode: normal;
}
.hero-image-fullscreen {
  width: 100vw;
  height: 50vw;
}

.logo img {
  width: 30%;
}

.pt-17, .pt-md-12, .pt-md-14 {
  padding-top: 45px!important;
}

.pb-17, .pt-md-12, .pt-md-14 {
  padding-bottom: 45px!important;
}

.main-menu>ul>li>a {
  color: #0091c8;
}
.main-menu>ul>li>a:hover {
  background: #0091c8;
}
.main-menu>ul>li.active>a {
  background: #0091c8;
}

a{
  color: #0091c8;
}
a:hover {
  color: #d6a460;
}

:root {
  --primary: #0091c8;
  --font-family-san-serif: "Minimo-Medium";
}

.text-primary {
  color: #0091c8!important;
}
.text-center {
  text-align: left!important;
}

.button:hover {
  background-color: #0091c8;
}
.button {
  background-color: #0091c8;
}

body {
  font-family: "Minimo-Light";
  font-size: 110%;
}

.content p {
  font-family: "Minimo-Light";
}

h1, h2, h3, h4, h5 {
  font-family: Minimo-Bold;
  font-weight: normal;
  font-style: normal;
}

.intro h1 {
  color: #0091c8;
  font-family: Minimo-Bold;
}